<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586244655815-h1uc5c2pvqh2h3oh3h4mvtmbjlgpeu41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586244655815-h1uc5c2pvqh2h3oh3h4mvtmbjlgpeu41</string>
	<key>API_KEY</key>
	<string>AIzaSyDBlPR2okSShYW0kHQ6rzx5CaB30KjWbmc</string>
	<key>GCM_SENDER_ID</key>
	<string>586244655815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>celina.MenuMyWay-1</string>
	<key>PROJECT_ID</key>
	<string>menumyway-3ded1</string>
	<key>STORAGE_BUCKET</key>
	<string>menumyway-3ded1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586244655815:ios:52e2551cede43b12</string>
	<key>DATABASE_URL</key>
	<string>https://menumyway-3ded1.firebaseio.com</string>
</dict>
</plist>