# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Playgrounds
timeline.xctimeline
playground.xcworkspace
## Local Mac files
.DS_Store
Pods